<%= form_with(model: post, class: "border border-slate-700 rounded-lg bg-slate-800 p-5 shadow-[0_10px_60px_-10px_rgba(100,100,100,0.5)]") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, "O que você está pensando?" %>
    <%= form.text_field :content, class: "mt-2 rounded-lg border-none bg-slate-700 text-sm w-full py-3 px-5" %>
  </div>

  <div class="inline">
    <%= form.submit "Share", class: "bg-slate-900 w-full py-3 rounded-lg mt-5 font-semibold text-slate-300" %>
  </div>
<% end %>
